.offscreen {
    position: absolute;
    left: -10000px;
}

.skip-link{
    position: absolute;
    top: -99rem;
    left: 0;
    background: $text-shadow-color;
    padding: 1.5rem;
    z-index: 1;
    color: $font-color
}

.skip-link:focus,
.skip-link:active {
    top: auto;
    left: auto;
}